* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  font-family: "Gilroy";
  font-size: 16px;
  position: relative;
  z-index: 10;
}

.bg-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.header {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 8px;
  background-color: #fff;
}

.header nav {
  padding: 20px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 50px;
}

.slider {
  margin-bottom: 50px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section > div {
  border-radius: 8px;
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  background-color: #72e6fa;
  width: 50%;
  height: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section > div:nth-child(odd) {
  background-color: cornflowerblue;
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

section .photo-container {
  margin-bottom: 20px;
}

section .description {
  margin-top: auto;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
}

section .cta-button {
  padding: 10px;
  border-radius: 8px;
  background-color: #ec63c5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}

button {
  padding: 15px;
  background-color: #ec63c5;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
}

#bvi-panel-play-on {
  display: none !important;
}

.bvi-panel-team {
  display: none !important;
}

#bvi-panel-close::after {
  content: "x";
  color: red;
}

#bvi-panel-font-family-times-new-roman {
  font-family: "Times New Roman";
}
/*# sourceMappingURL=style.css.map */